@page "/countries/edit/{Id:int}"

<h3>CountriesEdit</h3>

@if (Country is null)
{
    <Loading />
}
else
{
    <CountryForm @ref="CountryForm" Country="Country" OnValidSubmit="EditAsync" ReturnAction="Return" />
}

