<nav>
    <ul class="pagination justify-content-center">

        @foreach (var item in Enlaces)
        {
            <li class="page-item @(item.Habilitada ? null : "disabled") @(item.Activa ? "active" : null)"
                @onclick=@(() => PageSelected(item)) style="cursor:pointer">
                <a class="page-link" tabindex="-1" aria-disabled="true">@item.Texto</a>
            </li>
        }
    </ul>
</nav>


